/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 nov 2024, 9:29:29
    Author     : Antonio
*/
.header {
    background-color: #2A3663;
    color: #ffffff;
    text-align: center;
    padding: 0.5rem 0;
}
.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logonombre {
    display: flex;
    align-items: center;
    padding-left: 6rem;
}
.encabezadoimg {
    height: 70px;
    width: auto;
    margin: 1rem 2rem 1rem 1rem;
}

.encabezadobtn{
    margin: 2rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;            
}

/* Bienvenida y Noticias */
#bienvenida h2,
#noticias h2 {
    color: #003366;            
}

#bienvenida p,
#noticias p {
    color: #333333;            
}

.card-title {
    color: #003366;          
}

.footer {
    background-color: #2A3663;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    margin-top: 1rem;
}

body {
    font-family: Arial, sans-serif;
}
.contenedor-perfil {
    max-width: 40%;
    margin: 3rem auto;
    padding: 2rem;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.profile-picture {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-tabla {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    display: block; 
    margin: auto; 
}

.titulostabla {
    color: #2A3663;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: center;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #2A3663;
    font-weight: bold;
    color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.inputs-perfil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputs-perfil label {
    display: flex;
    flex-direction: column;
}

.formularios {
    width: 100%;
    max-width: 60%; 
    margin: 0 auto; 
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espacio entre columnas */
}
.formularios div {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    flex: 1;
}
.formularios label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.nombre-dni {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nombre-dni img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000000;
}

.nombre-dni h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.nombre-dni h2:nth-child(2) {
    font-size: 30px;
    font-weight: normal;
    color: #555;
}




